<div class="center jumbotron">
  <h1>N'attends plus book ton creneau!</h1>

  <h2>
    Inscris-toi et trouve le moniteur qui te convient!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>



